.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;

  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #000;
    }
  }

  .productContainer {
    background: var(--primary-color-pale-orange2);
    border-radius: 18px;
  }

  .productDetailsContainer {
    padding: 20px 24px;
  }

  .image {
    max-width: 360px;
    border-radius: 18px 18px 0 0;
    &:hover {
      opacity: 0.9;
    }
  }

  .brand {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.08em;
    color: var(--primary-color-orange);
    margin-bottom: 16px;
  }

  .name {
    width: 300px;
    margin-bottom: 16px;
  }

  .priceAndDiscountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .discountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .discountPrice {
    padding-right: 20px;
    font-size: 26px;
    margin: 0;
  }

  .discountBox {
    color: var(--primary-color-orange);
    font-weight: 700;
    font-size: 16px;
    background-color: #f3dac0;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
  }

  .price {
    color: #a5a5ac;
    font-size: 18px;
    font-weight: 700;
    text-decoration: line-through;
    text-decoration-color: var(--primary-color-orange);
    margin: 0;
  }
}
