@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;

  --primary-color-orange: hsl(26, 100%, 55%);
  --primary-color-pale-orange: hsl(25, 100%, 94%);
  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  // display: flex;
  // justify-content: center;
  min-width: 360px;
  // min-height: 100vh;
}
